imgs/*png
Textos
__pycache__
.vscode/
qcdnum170115.pdf
Libros
Notas_Sanabria
.ipynb_checkpoints/
Articulos/
fit/fit_parton_distribution_functions_(PDFs)_for_x_and_q_squared_ipynb.ipynb
imgs

